$primary-color: #53459b;
$primary-color--dark: #3d307c;
$primary-color--light: #483a8b;

$active-color: #faad14;
$inactive-color: #d3d3d3;
$default-color: #d9d9d9;
$stroke-color: #f4f4f4;
$danger-color: #ff4d4f;
$success-color: #52c41a;
$gray-color: #999;
$primary-padding: 2.4rem;
$primary-margin: 2.4rem;
$white-color: #fff;
$primary-font-size: 1.4rem;
$primary-font-weight--medium: 500;

$primary-border-color: #f0f0f0;
$primary-background-color: #f0f2f5;
$link-color: #0075ff;
$yellow-light: rgb(249 239 124 / 40%);
$green: #ffa940;
$green-light: #ffb800;
$green-soothing: #fff9ea;
